<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page</title>
  <link rel="stylesheet" href="../assets/css/bundle.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">

</head>

<body>
  <div id="App">
    <div id="Info">
      <img src="/assets/img/Landing.png" alt="">
      <h1>ADVENTURE</h1>
    </div>
    <div id="Login">
      <p>test</p>
    </div>
  </div>
</body>

</html>